.foot {
    height: 30px;
}

.subtext{
    text-align: center;
    font-size: 1.5rem;
}
.bolding{
    font-size: 2.25rem;
    font-weight: 700;
}
ul{
    font-weight: normal;
    font-size: 21px;
}
.anchor{
    font-size: 17px;
    color: blue;
}